{% extends "SBlokz/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="features18 popup-btn-cards cid-reJ2FTrUai" id="features18-6">
<div class="row justify-content-center">
<div class="card p-4 col-12 col-md-6 col-lg-4">
   <div class="card-wrapper">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock content %}